@mixin transition-default($attributes : all, $seconds : 0.3s, $equation : ease-in-out, $delay : 0s ){
	-webkit-transition: $attributes $seconds $equation $delay;
	-moz-transition: $attributes $seconds $equation $delay;
	-o-transition: $attributes $seconds $equation $delay;
	-ms-transition: $attributes $seconds $equation $delay;
	transition: $attributes $seconds $equation $delay;
}

@mixin rounded-corner($radius : $global-radius){
	-webkit-border-radius: $radius;
	-khtml-border-radius: $radius;	
	-moz-border-radius: $radius;
	border-radius: $radius;
}

body {
    position: relative;
}

/* !TABS */
.tabs{
	margin-bottom: 0;
}
ul.tabs-content{
	margin-right: 0;
	padding-top: 10px;
	float: left;
	border: 1px solid #e6e6e6;
	border-top: 0;
}
.tabs-content li{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}
.tabs-content li.active{
	opacity: 1;
}



/* !Layout Frames */
div#main-wrap {
    position: relative;
}

/* !Header */
#head-wrap { 
	position: relative;
	background:  #FFFFFF;
	text-align: center;
	
	@media #{$medium-up} { 
		text-align: left;
	}
}

header {
	position: relative;
	overflow: hidden;
}

header h1{
	font-weight: 200;
	font-size:24px;
}

.text-centre{text-align: center;}
@media #{$medium-up} {
	.medium-text-right{
		text-align: right;
	}
	
}		


/* !TOP BAR */
#nav-wrap{
	background: $primary-color;
}
.top-bar {
	margin-bottom: 0;
}
.top-bar ul{
	margin: 0;
}

.top-bar-section ul li{
	margin: 0;
}

/* !Main Content */

div.main-content {
    position: relative;
    padding: 0;
    overflow: hidden;
}

div.main-content .column h1:first-child,
div.main-content .column h2:first-child,
div.main-content .column h3:first-child,
div.main-content .column h4:first-child,
div.main-content .column h5:first-child,
div.main-content .column h6:first-child {
    margin-top: 0;
}

div.main-content .column h1.pagetitle { margin-top: .5em }

.button{
	&[href*="@"]:before{
		content: '\f0e0';
		font-family: FontAwesome;
		padding-right: 0.5em;
	}
	&.Link-PDF:before, &.Link-Web:before{
		color: $button-font-color;
	}
}


/* !VIDEO */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin: .25em 0 .5em;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* !FLEXSLIDER */
.flexslider{
	border:0;
	margin-bottom: 0;
	background: transparent;
	overflow: hidden;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;	
	-moz-border-radius: 0px;
	border-radius: 0px;
	
	-moz-box-shadow: 0px 0px 0px #000;
	-webkit-box-shadow: 0px 0px 0px #000;
	box-shadow: 0px 0px 0px #000;
}
.flexslider .slides,
.flexslider .slides li{
	margin: 0;
}

.flexslider .slides img{
	position:relative;

}

.flexslider .slides a{
	display: block;
	-webkit-transition: box-shadow 0.3s ease-in-out;
	-moz-transition: box-shadow 0.3s ease-in-out;
	-o-transition: box-shadow 0.3s ease-in-out;
	-ms-transition: box-shadow 0.3s ease-in-out;
	transition: box-shadow 0.3s ease-in-out;
	
}

.flexslider .slides a:hover{
	-moz-box-shadow: inset 0px 0px 0 12px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0px 0px 0 12px rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 0 12px rgba(0,0,0,0.3);

}

.flex-control-paging li a{
	border-color: #719f30;
	background-color: #8CC53E;
	width: 1em; height: 1em;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;	
	-moz-border-radius: 0px;
	border-radius: 0px;
	
}



.flex-control-paging li a.flex-active{
	border-color: #818588;
	background-color: #587D24;
}


html.boxshadow .flex-control-paging li a{
	border: 0;
	-moz-box-shadow: inset 0px 1px 4px #000;
	-webkit-box-shadow: inset 0px 1px 4px #000;
	box-shadow: inset 0px 1px 4px #000;
	
}

.flex-control-paging li a:hover{
	background-color: #719f30;
}



.flex-direction-nav a:before{
	line-height: 1;
}
.flex-direction-nav a, .flex-direction-nav a:before{
	color: #fff;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}


/* !News Archive */
.news-archive .date{
	font-style: italic;
	font-weight: bold;
	margin-bottom:1em;
}
.news-archive p{
	margin-bottom:3em;	
}

.news-archive .paginate-nav{
	background: #eee;
	padding: .2em 1em;
}
.news-archive .paginate-nav .ditto_next_link{
	padding-left: 1em ;
}
.news-archive .paginate-nav .ditto_previous_link{
	padding-right: 1em; 
}

/* !Photo gallery */
div.photo-gallery {
    float: left;
    width: 100%;
}
div.photo-gallery div.thumb {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 0 0 12px 0px;
    padding: 0px;
    text-align: center;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.7);
}
html.no-boxshadow div.photo-gallery div.thumb {
	border:1px solid #ccc;
	margin-left: 30px;
}

.masonry img{
	max-width: none;
}

div.photo-gallery div.thumb img {
}
div.main-content div.photo-gallery div.thumb a {
    padding: 0 0;
    margin: 0 0;
}

div.main-content div.photo-gallery div.thumb:hover{
	 box-shadow: 0px 3px 10px  rgba(0,0,0, 0.7);
}

html.csstransforms div.main-content div.photo-gallery div.thumb:hover{
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05); 
}

html.no-boxshadow div.main-content div.photo-gallery div.thumb:hover{
	background-color: #0068A6;
}






/* !Google Maps */
div.google-map {
	display: none;
	height: 350px; width: 100%;
}
div.main-content div.google-map h3 {
    margin: 0;
    font-size: .9em; 
}
div.main-content div.google-map p {
    margin: 0;
    font-size: .8em
}
div.google-map img{
	max-width:none;
}

@media #{$medium-up} { 
	#google_map_static{
		display: none;
	}
	div.google-map {
		display: block;
	}
}


/* !Forms */

.datepicker-wrap{
	position:relative;
}

.ui-datepicker-trigger{
	position: absolute;
	right: .5em;
	top: 50%;
	margin: -8px 0;
	cursor: pointer
}

input.required.datepicker{
	background-position: 90% .5em
}

input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea,
input[type="file"], input[type="checkbox"], input[type="radio"], select{
	margin-bottom: 0;
}

label.required:before{
	content: '\f069';
	font-family: FontAwesome;
	padding-right: 0.5em;
	
}


/* !Footer */

#footer-wrap {
	position: relative;
	width: 100%;
}

footer {
	position: relative;
	padding: 1em 0;
	color: #fff;
	
	@media #{$medium-up} { 
		.atm-link {
			float: right;
			position: relative;
			span {
				position: absolute;
				left: -10000em;
			}
		}
	}
	
}


footer p{
	margin: 0 0;padding: 0 0;
}

footer a:hover { color: #c00 }

footer a:link,
footer a:visited {
	color: #000;
	text-decoration: none
}

footer a.atm {
	display: block; float: right;
	height: 1.4em; width: 32px;
	margin: 0px 0px 0 0; padding: 0;
	text-indent: -10000em;
	background: url("../../base/images/logo-atm-footer-black.png") no-repeat left center;
}

/* !HOME */

